ios/Flutter/flutter_assets/packages/cupertino_icons/assets
ios/Flutter/flutter_assets/packages
ios/Flutter/flutter_assets/packages/cupertino_icons
ios/Flutter/flutter_assets
ios/Flutter/flutter_assets/fonts
ios/Flutter/flutter_assets/fonts/MaterialIcons-Regular.ttf
ios/Flutter/flutter_assets/packages/cupertino_icons/assets/CupertinoIcons.ttf
ios/Flutter/flutter_assets/AssetManifest.json
ios/Flutter/flutter_assets/FontManifest.json
ios/Flutter/flutter_assets/isolate_snapshot_data
ios/Flutter/flutter_assets/kernel_blob.bin
ios/Flutter/flutter_assets/LICENSE
ios/Flutter/flutter_assets/vm_snapshot_data
